body {
  margin: 0;
  padding: 10px;
  font-family: Arial;
  height: 100vh;
}

@font-face {
  font-family: 'Bubble';
  src: local('Bubble'), url('../src/fonts/bubble.ttf') format('truetype'); /* Safari, Android, iOS */
}
